$main_font: "Montserrat", sans-serif;
$secondary_font: "Italiana", sans-serif;
$main_background_color: #F5F9FA;
$secondary_background_color: #F5FCF8;
$btn_background_color: #69AE96;
$btn_color: white;
$text_color: #A2A2A2;
$input_color: #C9CCD4;